body{
    text-align: center;
    margin: 0;
}
.top-container{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 125px;
    margin: 0px;
    height: 100%;
}
.top-cloud{
    padding: 30px;
    position: absolute;
    right: 350px;
    top: 40px;
}
.bottom-cloud{
    position: absolute;
    left: 400px;
    top: 250px;
}